.app {
    &-projects {
        height: auto;
        padding: 40px 0;
        @media (max-width: 480px) {
            padding-top: 0px;
        }


        &-list {
            margin-top: 60px;
            display: flex;
            flex-direction: column;
            row-gap: 100px;
            @media (max-width: 1240px) {
                padding: 0 20px;
            }
            @media (max-width: 768px) {
                padding: 0;
                row-gap: 50px;
            }
            @media (max-width: 567px) {
                padding: 0 20px;
                margin-top: 40px;
            }
            @media (max-width: 420px) {
               padding: 0;
            }
        }

        &-view {
            background-color: #ffffff1e;
            padding: 13px 25px;
            border-radius: 35px;
            border: 1px solid #ffffff2a;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            margin-top: 65px;
            font-size: 16px;
            cursor: pointer;
            transition: 0.4s all;
            @media (max-width: 420px) {
                font-size: 14px;
                padding: 10px 20px;
                margin-top: 40px;
            }
            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }
}