.top-block {
    padding: 5px 15px;
    color: #F4F4F5;
    background-color: #ffffff2c;
    border-radius: 20px;
    border: 1px solid #88888867;
    font-size: 14px;
    font-weight: 400;
}


@media (max-width: 1240px) {
    .top-block {
        font-size: 12px;
    }
}