.app  {
    &-awards {
        height: auto;
        padding: 150px 0;

        &-wrapper {
            @media (max-width: 1240px) {
                padding: 0 20px;
            }
            @media (max-width: 768px) {
                padding: 0;
            }
            @media (max-width: 567px) {
                padding: 0 10px;
            }
            @media (max-width: 480px) {
                padding: 0;
            }
        }
        
        &-title {
            margin-top: 80px;
            color: #ffffff;
            font-size: 28px;
              @media (max-width: 867px) {
                font-size: 24px;
                margin-top: 60px;
            }
        }

        &-certificates {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            @media (max-width: 867px) {
                margin-top: 30px;
            }
            @media (max-width: 768px) {
               flex-direction: column;
               row-gap: 25px;
               align-items: center;
            }
        }
    }
}