.app {
    &-footer {
        height: auto;
        // padding: 50px 0;
        border-top: 1px solid #242424;
        

        &-wrapper {
            display: grid;
            grid-template-columns: 60% 15% 15%;
            justify-content: space-between;
            padding: 70px 0;
            @media (max-width: 1240px) {
               padding: 70px 20px;
            }
            @media (max-width: 991px) {
              grid-template-columns: 60% 20% 20%;
            }
            @media (max-width: 867px) {
                grid-template-columns: 50% 50%;
                grid-template-rows: 140px 200px;
                padding: 50px 0;
                width: 100%;
            }
            

        }

        &-item {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
             @media (max-width: 867px) {
                  align-items: center;
               &:nth-child(1) {
                    grid-row: 1 / 1;
                    grid-column: 1 / 3;
                    gap: 5px;
                    
               }
               &:nth-child(3) {
                    grid-row: 2 / 3;
                    grid-column: 2 / 3;
               }
            }
            &__logo {
                color: #F472B6;
                font-size: 24px;
                color: 600;
            }
            &__linkNav {
                font-size: 16px;
                color: #A1A1AA;
            }
            &__link {
                display: flex;
                column-gap: 10px;
                align-items: center;
                
                p {
                    font-size: 16px;
                    color: #A1A1AA;
                    font-weight: 300;
                }
            }

            &__title {
                font-size: 17px;
                color: white;
                padding-bottom: 15px;
                @media (max-width: 867px) {
                    padding: 0;
                }
            }

            &__descr {
                width: 40%;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
                color: #A1A1AA;
                @media (max-width: 991px) {
                    width: 70%;
                }
                @media (max-width: 867px) {
                  text-align: center;
                    width: 90%;
                }
            }
        }

        &-copyright {
            border-top: 1px solid #242424;
            padding: 20px 0;
            display: flex;
            justify-content: center;
            &__text {
                font-size: 14px;
                font-weight: 400;
                color: #A1A1AA;
                width: 20%;
                text-align: center;
                line-height: 170%;
                @media (max-width: 1366px) {
                    width: 100%;
                }
                @media (max-width: 867px) {
                    font-size: 12px;
                }
                span {
                    font-weight: 700;
                    padding-left: 10px;
                }
            }
        }
    }
}