.app {
    &-welcome {
        &-title {
            &__text {
                font-size: 88px;
                color: white;
                display: flex;
                flex-direction: column;

                span {
                    color: #f884fc;
                }

                @media (max-width: 1240px) {
                    font-size: 64px;
                }

                @media (max-width: 991px) {
                    font-size: 56px;
                    line-height: 120%; 
                }
                @media (max-width: 867px) {
                    font-size: 52px;
                    font-weight: 700;
                }
                @media (max-width: 867px) {
                    align-items: center;
                }
                @media (max-width: 480px) {
                    font-size: 42px;
                }
                @media (max-width: 420px) {
                    font-size: 44px;
                    margin-top: 10px;
                }
                @media (max-width: 380px) {
                    font-size: 34px;
                }

                
            }
        }

        &-descr {
            font-size: 18px;
            color: white;
            width: 70%;
            font-weight: 300;
            line-height: 150%;
            // white-space: nowrap;
            @media (max-width: 1240px) {
                width: 100%;
            }
            @media (max-width: 991px) {
                margin-top: 10px;
                font-size: 16px;
            }
            @media (max-width: 768px) {
                text-align: center;
            }
            @media (max-width: 480px) {
                font-size: 14px;
            }
            @media (max-width: 420px) {
                font-size: 16px;
            }
            @media (max-width: 380px) {
                font-size: 14px;
            }
        }

        &-btn {
            display: flex;
            column-gap: 15px;
            margin-top: 20px;
            @media (max-width: 480px) {
               column-gap: 7px;
            }
            &__click {
                display: flex;
                align-items: center;
                justify-content: center;
                column-gap: 10px;
                border-radius: 10px;
                padding: 13px 20px;
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;
                color: #F4F4F5;
                transition: 0.4s all;
                &:hover {
                    transform: scale(1.1);
                }

                @media (max-width: 1240px) {
                    font-size: 14px;
                    padding: 10px 17px;
                }
                @media (max-width: 480px) {
                   border-radius: 50px;
                }
                @media (max-width: 380px) {
                    font-size: 12px;
                    padding: 10px;
                }
               
                svg {
                    @media (max-width: 991px) {
                        width: 20px;
                        height: 20px;  
                    }
                }
            } 

            .one-button {
                background: linear-gradient(to right, #C084FC, #F472B6);
            }
            .two-button {
                background-color: #ffffff2c;
                border: 1px solid #88888879;
            }
        }

      
    }
}