.app {
    &-blog {
        height: auto;
        padding: 100px 0;

        &-list {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            
        }

       
    }
}