.app {
    &-secTitle {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-top: 25px;
        align-items: center;

        &-text {
            color: #F4F4F5;
            font-size: 40px;
            font-weight: 600;
        }

        &-divider {
            width: 100px;
            height: 3px;
            background: linear-gradient(to right, #C084FC, #F472B6);
            border-radius: 10px;
        }
    }
}


@media (max-width: 1240px) {
    .app {
        &-secTitle {
            row-gap: 10px;
            margin-top: 15px;
            &-text {
                font-size: 30px;
            }
        }
    }
}
@media (max-width: 867px) {
    .app {
        &-secTitle {
            &-text {
                font-size: 26px;
            }
            &-divider {
                width: 60px;
            }
        }
    }
}

@media (max-width: 480px) {
    .app {
        &-secTitle {
             row-gap: 5px;
            &-text {
                font-size: 24px;
            }
            &-divider {
                width: 40px;
            }
        }
    }
}
@media (max-width: 380px) {
    .app {
        &-secTitle {
             row-gap: 5px;
            &-text {
                font-size: 20px;
            }
            &-divider {
                width: 40px;
            }
        }
    }
}


